.quiz-box {
    background: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

.option {
    padding: 12px;
    border: 2px solid #F8BBD0;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
}

.option:hover {
    background: #FCE4EC;
}

/* TABLET */
@media (max-width: 1024px) {

    .quiz-box {
        max-width: 90%;
        padding: 24px;
    }

    .option {
        font-size: 15px;
        padding: 14px;
    }
}

/* MOBILE */
@media (max-width: 600px) {

    .quiz-box {
        margin: 20px auto;
        padding: 20px;
        border-radius: 16px;
    }

    .option {
        font-size: 14px;
        padding: 14px;
        margin: 12px 0;
    }
}
